*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney,Neue Helvetica,Helvetica,Arial,sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
header{
    background-color: rgb(37,94,233);
    padding: 50px;
}
.bloccoCentro80{
    width: 80%;
    margin: 0 auto;
}

nav li{
    display: inline-block;
    margin-left: 15px;
}
.logo{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}
nav{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    line-height: 37px;
}
header .accedi{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    line-height: 37px;

}


.jumbotron{
    position: relative;
}
.jumbotron img{ 
    max-width: 100%;
    height: auto;
}
.bloccoCentro30{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: green;
    text-align: center;
    font-size: 40px;
}



